@font-face {
  font-family: 'Starjhol';
  src: local('Starjhol'), url(./components/fonts/starjedi/Starjhol.ttf) format('truetype')
}

@font-face {
  font-family: 'Starjedi';
  src: local('Starjedi'), url(./components/fonts/starjedi/Starjedi.ttf) format('truetype')
}

.App {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.AppBackground {
  position: absolute;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  opacity: 0.9;
  z-index: 0;
}

.Loading {
  height: 120% !important;
  width: 120% !important;
  object-fit: cover;
  margin: -10px !important;
}

.Error {
  margin: 5vh 1vw;
  font-size: 2.5vh;
  text-align: center;
}

.ErrorImage {
  max-height: 300px;
}

.CustomFont {
  font-family: 'Starjedi', sans-serif;
  letter-spacing: 0.2em;
  text-transform: lowercase !important;
}

button:focus {
  outline: none !important;
  outline-offset: none !important;
  background-color: #e0cc1b !important;
  transition: 0.5s
}

button:hover {
  background-color: #ffe81f !important;
  transition: 0.5s
} 

h1 {
  margin: 0;
}
